.img {
  aspect-ratio: 1/1;
  object-fit: contain;
  padding: 1em;
}

.description {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 7.5em; /* 5 lines if line-height is 1.5em */
  min-height: 7.5em;
  line-height: 1.5em;
}

.title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.2em !important;
  line-height: 1.2em !important;
  max-height: 3em; /* 2 lines at 1.5em each */
  min-height: 2.5em; /* Always reserve space for 2 lines */
}
